<head>
  <title>db_example</title>
</head>

<body>
  <h1>Database example!</h1>
  <ul>
  {{#each titles}}
  		{{> title}}
  {{/each}}
  </ul>
</body>


<template name="title">
	<li>{{title}}</li>
</template>