<head>
  <title>form_example</title>
</head>

<body>
	<div class="container">
		<header>	
		  	<h1>Welcome to Meteor!</h1>
		  	<br/>
			<label class="hide-finished">
				<input type="checkbox" checked="{{hideFinished}}"/>
				Hide all unwanted titles
			</label>		  	
  			<form class="title-form">
				<input type="text" name="title" placeholder="A new title"/>
				<input class="add" type="submit" value="Submit"/>
  			</form>
  		</header>
  	</div>
  	<div>
  		<ul>
		{{#each titles}}
			{{> title}}
		{{/each}}
		</ul>  	
  	</div>
</body>


<template name="title">
	<li class="{{#if checked}}checked{{/if}}">
		<div>
			<input type="checkbox" checked="{{checked}}" class='toggle-chk'/>
			<span class="text">{{title}}</span>
			<button class="delete">Remove</button>
		</div>
		<div class="time">{{createdAt}}</div>
	</li>
</template>